@media (max-width: 400px){

    body{
        background-color: red;
        background-size: cover;
        margin: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }    
}